
body{
    
    
    margin-left:10px;
    margin-right: -28px;
    margin-bottom: -15px;
    padding-top: 50px;
    text-align: center;
    color:white;
    
}

h3{
   
    font-size:60; 
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
    text-shadow: 1px 1px 2px black;


}

h2{
    font-size:100; 
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    
}

h1{
    
   font-size:80; 
    font-style: italic;
    text-shadow: 1px 1px 2px black;  
    
}



